.has-sidebar .app--column-container--3AItG,
.udlite-footer.has-sidebar {
    margin-left: 25%;
}

.has-sidebar .app--column-container--3AItG .app--sidebar-column--2t0E8 {
    left: 0;
}

.has-sidebar .app--column-container--3AItG .app--content-column--HC_i1,
.udlite-footer.has-sidebar {
    width: 100%;
}

